/* NECESSARY */
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  

/* NAVIGATION */
a,
a:hover,
a:focus {
    text-decoration: none;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.topnav li {
    float: right;
}
ul.topnav li a{
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 4;
}
ul.topnav li a:hover{
    color: #23527c;
}
ul.topnav li.topnav__js-drop-down-menu-toggle {
    display: none;
}

/* END NAVIGATION */

/*SEARCH */
.c-location {
   vertical-align: top;
}

.c-location__item--circle {
    width: 52px;
    height: 52px;
    display: inline-block;
    background: #337ab7;
    border-radius: 500px;
    float: left;
    margin-right: 18px;
    text-align: center;
    font: bold 30px/52px 'Open Sans',Arial,sans-serif;
    color: #fff;
}

.c-location__item {
    float: left;
}
.c-location__title {
    margin-top: 0px;
}
.l-grid__search--max {
    background-color: #FBFBFB; 
    padding: 60px 0px;
}
.c-formsearch__input--min {
    width: 100%;
    padding: 15px;
}









