/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1230px) {

   
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .center {
        text-align: center;
    }
     nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav a#pull {  
        display: block;  
        width: 100%;  
        /*position: relative;*/  
    }  
    nav a#pull:after {  
        content:"";  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        top: 10px;  
    }

}
@media screen and (max-width: 650px) {
   
	
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	 nav li {
        display: block;
        float: none;
        width: 100%;
   
    nav li a {
        border-bottom: 1px solid #576979;
    }
    .navigation {
        margin: 0 auto;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}