/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1230px) {

   
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
     ul.topnav {
        background-color: #E6EBE7;
    }
    ul.topnav li a{
        padding: 1px 16px;
    }
    ul.topnav li {
   float: left;
    } 
    ul.topnav li a:hover {
        color: #337ab7;
    }
    h1 {
        margin-bottom: 20px;
    }
}


/* Extra Small Devices, Phones */
@media screen and (max-width: 480px){
    ul.topnav li:not(:first-child) {display: none;}{
        display: none;
    }
    ul.topnav li.topnav__js-drop-down-menu-toggle{
        float: right;
        display: inline-block;
        }
   }
@media screen and (max-width: 480px){
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.topnav__js-drop-down-menu-toggle{
        position: absolute;
        right: 0;
        top:0;
    }
    ul.topnav.responsive li{
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a{
        display:block;
        text-align: center;
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}